<div class="bookmark grid-item" id="{{ b.id }}">
  <a href="http://{{ loris_host }}/{{ b.image_id }}/full/full/0/default.{{ b.image_id|extension }}">
    <img
        src="http://{{ loris_host }}/{{ b.image_id }}/full/270,/0/default.{{ b.image_id|extension }}"/>
  </a>
  {% if b.title is defined %}
  <div class="bookmark__title">{{ b.title }}</div>
  {% endif %}
  {% if b.url is defined %}
    <div class="bookmark__metadata bookmark__url"><a href="{{ b.url }}">{{ b.url|short_url }}</a></div>
  {% endif %}
  <div class="bookmark__metadata">
    {% for tag in b.tags|sort %}
      <a href="/?query={{ ""|add_tag_to_query(tag) }}" class="bookmark__tag">#{{ tag|safe }}</a>
    {% endfor %}
  </div>
</div>
