<div class="pagination">
  <div class="pagination__left">
    <p>Showing {{ results.start_idx}}&ndash;{{ results.end_idx }} of {{ results.total_size }}</p>
  </div>

  <div class="pagination__right">
    <p>
      {% if results.page != 1 %}<a href="{{ request|prev_page_url }}">&laquo; prev</a> ·{% endif %}
      Page {{ results.page }} of {{ results.total_pages }}
      {% if results.page != results.total_pages %}· <a href="{{ request|next_page_url }}">next &raquo;</a>{% endif %}
    </p>
  </div>
</div>
