{% extends "base.html" %}

{% block content %}
<div class="content">
  {% if results.total_size == 0 %}
  <h3>There were no results for &ldquo;{{ query_string }}&rdquo;!</h3>
  {% else %}
  {% if query_string != "" %}<h3>Search results for &ldquo;{{ query_string }}&rdquo;</h3>{% endif %}

  <div class="row">
    <div class="content__bookmarks">
      {% include "_pagination.html" %}

      {% if results.total_size > 1 %}
      <div class="tag_cloud">
        {% include "_tag_cloud.html" %}
      </div>
      {% endif %}

      <div class="row">
        <div class="grid">
          <div class="grid-sizer"></div>
          <div class="gutter-sizer"></div>
          {% for b in results.documents %}
            {% include "_bookmark.html" %}
          {% endfor %}
        </div>
      </div>
      {% endif %}
      {% if results.total_size > 4 %}
      {% include "_pagination.html" %}
      {% endif %}
    </div>
  </div>
</div>

<script>
  var $grid = $('.grid').masonry({
    itemSelector: '.grid-item',
    // gutter: 16,
    columnWidth: '.grid-sizer',
    gutter: '.gutter-sizer',
    percentPosition: true
  });
  // layout Masonry after each image loads
  $grid.imagesLoaded().progress( function() {
    $grid.masonry('layout');
  });
</script>

{% endblock %}
