<div class="bookmark{% if b.toread %} bookmark__unread{% endif %}{% if b.starred %} bookmark__starred{% endif %}">

  <p class="bookmark__title">
    <a href="{{ b.url }}">{{ b.title|title_markdown|safe }}</a>
    {% if b._backup %}
    <a class="bookmark__backup" href="https://s3-eu-west-1.amazonaws.com/alexwlchan-pincushion/{{ b.id }}/index.html">&#x2611;&#xFE0E;</a>
    {% endif %}
  </p>

  {% if b.description %}
  <div class="bookmark__description">
  {{ b.description|description_markdown|safe }}
  </div>
  {% endif %}

  <p class="bookmark__metadata">
    saved <a href="https://pinboard.in/u:alexwlchan/b:{{ b.slug }}">{{ b.time|slang_time }}</a>
    {% for tag in b.tags|sort %}
      <a href="/?query={{ ""|add_tag_to_query(tag) }}" class="bookmark__tag">{{ tag|safe }}</a>
    {% endfor %}
  </p>
</div>
