<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if title %}{{ title }} &ndash; {% endif %}pincushion</title>

  <link rel="stylesheet" href="/static/style.css">
  <link rel="apple-touch-icon" type="image/png" href="/static/apple-touch-icon.png">
  <link rel="shortcut icon" type="image/png" href="/static/favicon.png">
  <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
</head>
