.grid {
  margin-left:  auto;
  margin-right: auto;
}

.grid-sizer, .grid-item {
  width: 270px;
  max-width: 100%;
}
.gutter-sizer {
  width: 10px;
}

.grid-item {
  img {
    width: 100%;
  }
}

.bookmark {
  border: 1px solid #ccc;
  border-radius: 5px;

  div {
    padding: 6px 14px 10px 14px;
    margin-top:    0;
    margin-bottom: 0;
  }

  .bookmark__title, .bookmark__url {
    padding-bottom: 0px;
  }

  a, .bookmark__title a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:visited {
      color: $primary-dark;
    }
  }

  .bookmark__title {
    font-weight: 600;
  }

  .bookmark__metadata {
    font-size: 0.8em;
    line-height: 1.5em;
    color: $accent-grey;
    a {
      text-decoration: none;
      white-space: nowrap;
      color: $accent-grey;
      &:hover {
        text-decoration: underline;
      }
      margin-right: 0.5em;
    }

    .bookmark__tag {
      &, &:visited {
        color: $tag-color;
      }
    }
  }

  margin-bottom: 10px;
}
